body{
    padding:0;
    margin:0;
    line-height: 1.5;
}
header{
   padding-top:20px;
    min-height: 70px;
    border-bottom:5px double #233342;
    color: #222;
    background-color:#CE8054;
} 
.container{
   
    width:80%;
    padding:5px;
}
header ul{
    margin:0;
    padding:0;
} 
header li{
    display: inline;
    border-bottom:7px double #233342;
    margin:5px;
    color:#222;
}
header#branding{
    display: flex; 
    
}
header nav{
    float:right;
}
#rocco-img{
    margin-top:5px;
    height:20%;
    width: 35%;
    border-radius: 15%;
}
.navbar{  
    margin-top:10px;  

}
.navbar-nav{
    text-transform: uppercase;
    font-weight: 500;
    
}
.container{
    margin: auto;
    overflow: hidden;
} 
#rocco-hours{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#section-one{
    min-height: 400px;
    background-image: url(/img/food08.jpg);
    background-repeat: no-repeat;
    background-position: left; 
    background-size: cover; 
    text-align: center;
}

#section-one h3{
    margin-top:5px;
    font-size:20px;
    margin-bottom:10px;
}
#section-two{
    padding:15px;
    background-color: #B35340;
    color: #222;
}
            
button#btnReserve{
    float: right;
    margin-right:40%;
    padding:10px 20px 10px 20px;
}
.container #joinNow{
    display: flex;
    flex-direction: column;
}

.row#joinNow{
  padding: 10px;
  margin:auto;
} 

#rocco-form{
    margin-top:5px;
    padding-top: 10px;
}

section#joinNow input[type="email"]{ 
    padding:10px;
    height:37px;
    width:250px;
    border:none;
}

.row#map{
    height:50vh;
    display: flex;
    /*padding: 0px 5px 10px 5px; /*padding = top, right, bottom, left*/
    border:5px solid white; 
}
#rocco-map{
    
}

#footer-nav{
   
    border:2px solid black;
}
footer{
    margin-top:20px;
    padding:20px;
    text-align:center;
} 

/*Menu*/ 



/*Media Queries*/ 
