/* Smartphones (portrait and landscape) ---------- */


/*************************************************************************/
/* Smartphones (portrait) ---------- */


/********************************************************************/


/******************************************************************/
/* Tablets, iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1024px){
/* styles */ 
*{margin:0;
padding:0;}
header{background-image: url(./img/morepasta.jpg); 
        background-repeat: no-repeat; 
    background-size: cover; 
    height:100vh;
    position: relative;}
.row{ 
    display: flex;
    border-style:2px solid;
    border-color:black;}

.container{ 
    border-style:2px solid;
    border-color:black;}
span.phrase
{ 
    font-family: 'Charmonman', cursive;
    font-size:24px;
    color:#DAA520; 
}



a.tel
{text-decoration: none;
font-weight:bold;
font-family:palatino linotype, serif
}

span.address
{
font-weight:bold;
font-family:palatino linotype, serif;
}

.content{position: relative;}


/*******************************************************************************************/
.social nav
{float:right; 
} 

.social li
{list-style-type:none;
}

.fa
{text-decoration:none;
display:inline-block;
padding:20px; 
margin-bottom:10px;

}

.fa-twitter
{text-decoration:none; 

font-size:20px;
color:#ffffff;}
  
.fa-facebook
{text-decoration:none; 

font-size:20px;
color:#ffffff;
      
    
} 

.fa-instagram
{text-decoration:none; 
font-size:20px;
color:#ffffff;

}
      
/*******************************************************************************************/

             
.headNav ul{ 
list-style-type: none;}
            
.headNav li a{
text-decoration: none;}
            
.headNav li{
float:left;}
            
.headNav a{
display: block; 
font-size:24px;
padding:20px;
margin:38px;
background-color: #282828;
color:#808000;
box-shadow:10px 5px 5px 1px black;
border-style: solid;
border-color: #282828;
border-radius:20%;
font-family:palatino linotype, serif;
font-weight: bold;
text-align: center;}


/****************************************************************************************************/   
.bottomNav ul{list-style-type:none;} 
    
.bottomNav li a{text-decoration:none;}
    
.bottomNav li{float:left;}
    
.bottomNav a
{display:block;
font-size:24px;
box-shadow:10px 5px 5px 1px black;
padding:20px;
margin:38px;
border-style:solid;
border-radius: 20%;
border-color: #282828;
background-color:#282828;
color:#808000;
font-weight:bold;
font-family:palatino linotype, serif;}
    
    
/****************************************************************************************************/  


.operationHours 
{
font-family:palatino linotype, serif;
text-align:center;
color:grey;
}
               
.operationHours dd
{ 
font-size:26px;
text-align: center; 
font-family:palatino linotype, serif;
}


    
}
 

/******************************************************************/
/* Tablets, iPads (portrait) ---------- */
@media screen and (min-width: 768px){
/* styles */
body{
    background-image: url(./img/wood.jpg); 
}

span.phrase
{
font-family: 'Charmonman', cursive;

color:#DAA520;}

img.mySlides
{width:30vw;}

a.tel
{text-decoration: none;
font-weight:bold;
font-family:palatino linotype, serif
}

span.address
{
font-weight:bold;
font-family:palatino linotype, serif;
}

.content{position: relative;}


/*******************************************************************************************/
.social nav
{float:right; 
} 

.social li
{list-style-type:none;
}

.fa
{text-decoration:none;
display:inline-block;
padding:20px; 
margin-bottom:10px;
}

.fa-twitter
{text-decoration:none; 
background: #55ACEE;
font-size:20px;
color:#ffffff;}
  
.fa-facebook
{text-decoration:none; 
background: #3B5998; 
font-size:20px;
color:#ffffff;
} 

.fa-instagram
{text-decoration:none; 
font-size:20px;
color:#ffffff;
background:#0055;
}
      
/*******************************************************************************************/

             
.headNav ul{ 
list-style-type: none;}
            
.headNav li a{
text-decoration: none;}
            
.headNav li{
float:left;}
            
.headNav a{
display: block; 
font-size:24px;
padding:20px;
margin:38px;
background-color: #282828;
color:#808000;
box-shadow:10px 5px 5px 1px black;
border-style: solid;
border-color: #282828;
border-radius:20%;
font-family:palatino linotype, serif;
font-weight: bold;
text-align: center;}


/****************************************************************************************************/   
/**.bottomNav ul{list-style-type:none;} 
    
.bottomNav li a{text-decoration:none;}
    
.bottomNav li{float:left;}
    
/**.bottomNav a
{display:block;
font-size:24px;
box-shadow:10px 5px 5px 1px black;
padding:20px;
margin:38px;
border-style:solid;
border-radius: 20%;
border-color: #282828;
background-color:#282828;
color:#808000;
font-weight:bold;
font-family:palatino linotype, serif;}
    
    
/****************************************************************************************************/  
dt
{
text-decoration: underline;
}

.operationHours 
{
font-family:palatino linotype, serif;
text-align:center;
color:grey;
}
               
.operationHours dd
{ 

text-align: center; 
font-family:palatino linotype, serif;
}

} 

/******************************************************************/
/* Tablets, iPads (landscape) ---------- */
@media screen and (min-width: 1024px){
/* styles */
*{margin:0;
padding:0;}

header{ 
    border-style: 2px solid; 
    border-color:black;
    background-image: url(./img/fireplace.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


body{
    background-image: url(./img/wood.jpg); 
}


    .row{
        border-style:2px solid;
        border-color:black;
    }


} 

/******************************************************************/
/********************************************************/

